.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contenu de la modale*/
.modal-wrapper {
    display: flex;
    flex-direction: column;
    overflow:scroll;
    align-items: center;
    height: 90%;
    width: 630px;
    margin-top: -200px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.conteneurModalClose {
    display: flex;
    flex-direction: row-reverse;
    width: 558px;
    /* 630-36-36 */
    height: 76px;
    /* 32 + 32 + 12 */
}

/* petite croix pour fermer la  1ière modale */
.js-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 76px;
    /* 32 + 32 + 12 */
    font-size: 12px;
    background-color: #FFFFFF;
    border: none;
    /*float:right;*/
    font-weight: bold;
    cursor: pointer;
}

/* flèche pour fermer la 2e modale et revenir à la 1ière modale */
.js-modal2-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    font-size: 12px;
    background-color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

/* Fermer les 2 modales  */
.fermerles2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    font-size: 12px;
    background-color: #FFFFFF;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/*.js-modal2-close*/
.enteteModal2 {
    display: flex;
    /* flex-direction:row-reverse;*/
    justify-content: space-between;
    align-items: center;
    width: 600px;
    font-size: 12px;
    background-color: #FFFFFF;
    float: right;
    font-weight: bold;
}

.enteteModal2 img {
    height: 14.26px;
    width: 21px;
}

#titlemodal {
    font-size: 26px;
    font-weight: 400;
    margin-top: -16px;
}

/*les travaux dans la modale  */
section .modalWorks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 6.23px;
    grid-row-gap: 10.55px;
    height: auto;
    width: 420px;
    margin-top: 46px;
}

.modalWorks img {
    width: 75px;
    height: 104.08px;
}

.ajoutPhoto {
    font-size: 26px;
    font-weight: 400;
    font-family: Work Sans;
    margin-bottom: 36px;
    margin-top: 38px;
}

.iconeChargeImage {
    margin-top: 28px;
    width: 58px;
    height: 46px;
}

.iconeChargeImage img {
    width: 100%;
}

.editer {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 12.64px;
}

.barre {
    height: 1px;
    width: 420px;
    background-color: #B3B3B3;
}

.barreModal2 {
    height: 1px;
    width: 420px;
    background-color: #B3B3B3;
    margin-top: 47px;
    margin-bottom: 38px;
}

/* boutton de la 1ière modale */
.ajout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 237px;
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    background-color: #1D6154;
    cursor: pointer;
    margin-top: 38px;
    margin-bottom: 23px;
}

.labelModal21 {
    font-size: 14px;
    font-weight: 500;
    font-family: Work sans;
    color: #3D3D3D;
    margin-left: -390px;
    margin-bottom: 10px;
}

.labelModal22 {
    font-size: 14px;
    font-weight: 500;
    font-family: Work sans;
    color: #3D3D3D;
    margin-top: 21px;
    margin-left: -357px;
    margin-bottom: 10px;
}

/* bouton submit modale 2 */
.validerGris {
    height: 36px;
    width: 237px;
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    background-color: #A7A7A7;
    border: none;
    cursor: pointer;
    margin-bottom: 55px;
}

.valider {
    height: 36px;
    width: 237px;
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    background-color: #1D6154;
    cursor: pointer;
    margin-bottom: 55px;
}

.supprimer {
    color: #D65353;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
}

/*---------------------2ièeme modale -------------------------------------------------- -*/

.card {
    width: 420px;
    height: 169px;
    background: #E8F1F6;
    border-radius: 3px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.conteneurCard {
    width: 50px;
    height: 100px;
    border: 4px solid black;
}

.ajouterPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    height: 36px;
    width: 173px;
    border-radius: 50px;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    color: #306685;
    background-color: #CBD6DC;
    cursor: pointer;
}

.formatImage {
    margin-top: 7px;
    font-size: 10px;
    font-weight: 400;
    color: #444444;
}

/* -------------------------------------------------------------------- */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_formulaire {
    width: 420px;
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.workElement {
    position: relative;
}

#buttonDelete {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    background: url(icons/trash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0;
    cursor: pointer;
}